

.ezd6.sheet.mini {

    section {
        background: black !important;
        color: white !important;
    }

    form {
        display: block;
    }

    .footer-section {
        width: 100%;
        border-top: 1px solid white;
        margin-top: 1px;
        padding-top: 4px;
        text-align: center;
    }

    .mini-section {
        width: 100%;
     
        .col {
            padding-left: 2px;
            padding-right: 2px;
            width: 33.33%;
            float: left;

            .col-header {
                font-size: smaller;
                border-bottom: 1px solid;
                margin-bottom: 2px;
            }

                .strike {
                  color: red;
                }
                .used-strike {
                    color: grey;
                    -webkit-text-stroke: 1px red;
                }
                .hero-die {
                    color: blue;
                }
                .no-hero-die {
                  color: grey;
                  -webkit-text-stroke: 2px blue;
                }
                .karma {
                    color: gold;
                }
                .no-karma {
                  color: grey;
                  -webkit-text-stroke: 1px gold;
                }
        }
    }

    .mini-monster-section {
        display              : grid;
        grid-template-columns: auto 150px;

        .command-block {
            text-align: right;
        }

        .strike {
            color: red;
          }
          .used-strike {
              color: grey;
              -webkit-text-stroke: 1px red;
          }
    }

}