<form class="{{cssClass}}" autocomplete="off">
    <section class="mini-section">
        <div class="col">
            <div class="col-header">
                <div class="twocol">
                    <div>Strikes</div>
                    <div class="item-control">
                        <a class="plus" data-field="strikes"><i class="fas fa-plus"></i></a>
                        <a class="minus" data-field="strikes"><i class="fas fa-minus"></i></a>
                    </div>
                </div>
            </div>
            {{{strikesHtml}}}
        </div>
        <div class="col">
            <div class="col-header">
                <div class="twocol">
                    <div>Hero Dice</div>
                    <div class="item-control">
                        <a class="plus" data-field="herodice"><i class="fas fa-plus"></i></a>
                        <a class="minus" data-field="herodice"><i class="fas fa-minus"></i></a>
                    </div>
                </div>
            </div>
            {{{heroDiceHtml}}}
        </div>
        <div class="col">
            <div class="col-header">
                <div class="twocol">
                    <div>Karma</div>
                    <div class="item-control">
                        <a class="plus" data-field="karma"><i class="fas fa-plus"></i></a>
                        <a class="minus" data-field="karma"><i class="fas fa-minus"></i></a>
                    </div>
                </div>
            </div>
            {{{karmaHtml}}}
        </div>
    </section>
    <div style="clear:both;"></div>
    <section class="footer-section">
            <a class="plus" data-field="strikes"><i class="fa-regular fa-window"></i></a>
    </section>
</form>